<div class=" container d-flex">
  <div class=" col-2 ">
    
    <article class="card mb-2 bg-secondary">
  <h6 class="text-center card-body"><%=link_to 'All dishes',
    "#{restaurant_dishes_path(@restaurant)}",
    class:"text-dark text-decoration-none link-warning"%></h6>
    </article>

    <article class="card mb-2 bg-secondary">
   <h6 class="text-center card-body"><%=link_to 'Soup',
    "#{restaurant_dishes_path(@restaurant)}?category=soup",
    class:"text-dark text-decoration-none link-warning"%></h6>
    </article>
   
   <article class="card mb-2 bg-secondary">
    <h6 class="text-center card-body"><%=link_to 'Pizza',
    "#{restaurant_dishes_path(@restaurant)}?category=pizza",
    class:"text-dark text-decoration-none link-warning"%></h6>
    </article>
   
   <article class="card mb-2 bg-secondary">
    <h6 class="text-center card-body"><%=link_to 'Main Dish',
    "#{restaurant_dishes_path(@restaurant)}?category=main_dish",
    class:"text-dark text-decoration-none link-warning"%></h6>
    </article>
   
   <article class="card mb-2 bg-secondary">
    <h6 class="text-center card-body"><%=link_to 'Dessert',
    "#{restaurant_dishes_path(@restaurant)}?category=dessert",
    class:"text-dark text-decoration-none link-warning"%></h6>
    </article>
   <% if current_user.cart %>
   <article class="card mb-2 bg-primary">
    <h6 class="text-center card-body"><%=link_to 'Check basket',
    cart_path(current_user.cart),
    class:"text-dark text-decoration-none link-warning"%></h6>
    </article>
    <% end %>
  </div>
  
  <div class="col-11 d-flex ms-3 flex-wrap">
    <% if @dishes_by_category.empty? %>
    <h3>Sorry, we have no dishes in this category &#128532</h3>
    <% else %>
    <% @dishes_by_category.each do |dish|%>
      
      
      
      <article class="card ms-2 mb-2 ">
        <div class="card-body">
          <div>
             <%if dish.image_dish?  %>
              <%= image_tag(dish.image_dish.url, class:'image_dish_size') %>
              <%else %>
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHoAAAB6CAMAAABHh7fWAAAAYFBMVEX///8AAADQ0NBoaGj7+/vp6ekuLi7s7Ozg4OCFhYVhYWHw8PD19fU1NTWurq4+Pj53d3e6uroaGhrW1tZTU1O0tLSbm5vGxs
              YWFhZISEiOjo6ioqIlJSUMDAyVlZVaWlrRSlJ5AAAD60lEQVRoge2a15qrIBSFrQnYWywx5f3f8rg3mDGJBlTk3PDfxG+cYQmsXTBjWQaDwWAwGAwGww78vovjrvf1KyetjbSJbmVqv6B6lRN7gtZ5hzeUJAQf4RZqlL6AIhrMh6uLRml30KvZZT1cuhql00HPYZfOcJlqlm7YZaNZOvuLKYiyTKM0TJWtOKz3uABa8GDF7SzPYfp26mmUZtMe0Tlpi0c2Q2dUI07KhFNHt/JAc7ftu+bFBjziXED64hCNJisT2tlvdDQpD5f1WTjNkeUHNixeE9yXhIF70Byz+GGfTlTiKnAzSjM3qOLJ86S9+tod1adx+FPQO2SiEBKnD/7u1pFa5aR4jezMDh05r2crVDZMZHQ0fcsfzsm+xWl2He3
              tjL1iR1QpX9mA7ePDRBOHxTXKew/eIl+VCPt8yv2Xe9s3f9+uMFev5xNXEGkN2+Xs/H0rT9u3YLs/YT/OLPKL3SmWNdy3+XEin5Cy6d30Nf8AxBtslfe25zUbUBSsJA/GEIDlCV28rPcoM8v2Mr8aXcaMA7NlO77jSMSUpTetDJh2FY1tzGbtB9plTYyWFbPYEGkEd+CxTRkXrV0ZJDztDU2T30pv1ifl+Pzr8IPRHyU+xYZCHsEftlsar8dobwfmXayvJhgf+QblsVsdjJ7D5+qzYLLDJOxIApHx2JBa8NgcbFQetYfYwI1f51Rc7h0NB4Z1HFrh6iVveIBsB/c7459rKgnkxGqPMs+Eg00hyaw4f+d8p3YBZf4UWmRdpMRbYuITwpM42CaW/aNGxaR5ZBH2CLK7Xdlq3lGc2OJl8sY5b0y9X/C3a1gMZvqrGR777c0Bp13ZKsolxnRvTL/AaXv4IRVfkEMLufUREcUYWOdCMpv2KiKLc2WGdSV7hmB9sVkEAyvCMihRi8JC2o9ivA5jGmKmEBcjeFB17+AoZjR8wyfOUbmifMKAxPhkWUWcx6m989jwRjSMdjtjqhD35MHK+ipgSCedh5MX+syrlJSOFxGlITNQJTJQmO7rjBZGBe+KRj1DuVGtjC8gTt8RS5wp2KCUjmKweOVvPyIfX5bpJLHEv3MUVvW/lCsrpC4DrN26hwLHv5Rf04nhscqoqhuz4GlqNmc87e0HPCkgnT5n70AfEyt+tzoFe5b5ziuErTjwuwxI5O1CSoOitf1gKwQK01L5WraBCtDGi80hxLiad7ozXO1f7X1+oNF4Y7yI/fv2HrAu/bgPRpM+kK4j/mEyAK0wH/U7eQotjK/R26T0lVKyf9353ehGH18ZqqQTGNg
              /TFv8bUhExaNsgcoELemr+KSUuOrlk6SnFGlZg8FgMBgMBsN/4h992ivsHKhsIgAAAABJRU5ErkJggg==" alt="dish" class="image_dish_size">
              <%end %>
            <h3><%=dish.name%></h3>
            <h6>Price: <%=dish.price%> UAH</h6>
            <h6>Weight: <%= dish.weight%>g</h6>
          
           <% if current_user == nil || !current_user.owner? %>
            <%= button_to 'Add to Cart',line_items_path(dish_id: dish),remote: true %>
            <% elsif current_user.owner? %>
            <%= link_to 'Edit', edit_restaurant_dish_path(@restaurant, dish) %>
            <% end %>
          </div>
        </div>
      </article>
      <% end %>
      
    <% end %>

  </div>
