<div class=" container d-flex">
  <div class=" col-2 ">
    
    <article class="card mb-2">
  <h6 class="text-center card-body"><%=link_to 'All dishes',
    "#{restaurant_dishes_path(@restaurant)}",
    class:"text-dark text-decoration-none link-warning"%></h6>
    </article>

    <article class="card mb-2">
   <h6 class="text-center card-body"><%=link_to 'Soup',
    "#{restaurant_dishes_path(@restaurant)}?category=soup",
    class:"text-dark text-decoration-none link-warning"%></h6>
    </article>
   
   <article class="card mb-2">
    <h6 class="text-center card-body"><%=link_to 'Pizza',
    "#{restaurant_dishes_path(@restaurant)}?category=pizza",
    class:"text-dark text-decoration-none link-warning"%></h6>
    </article>
   
   <article class="card mb-2">
    <h6 class="text-center card-body"><%=link_to 'Main Dish',
    "#{restaurant_dishes_path(@restaurant)}?category=main_dish",
    class:"text-dark text-decoration-none link-warning"%></h6>
    </article>
   
   <article class="card mb-2">
    <h6 class="text-center card-body"><%=link_to 'Dessert',
    "#{restaurant_dishes_path(@restaurant)}?category=dessert",
    class:"text-dark text-decoration-none link-warning"%></h6>
    </article>
   
   
  </div>
  
  <div class="col-11 d-flex ms-3 flex-wrap">
    <% if @dishes_by_category.empty? %>
    <h3>This page is empty</h3>
    <% else %>
    <% @dishes_by_category.each do |dish|%>
      
      
      
      <article class="card ms-2 mb-2 ">
        <div class="card-body">
          <div>
             <%if dish.image_dish?  %>
              <%= image_tag(dish.image_dish.url, class:'image_dish_size') %>
              <%else %>
              <img src="https://fakeimg.pl/300x300/" alt="dish" class="image_dish_size">
              <%end %>
            <h3><%=dish.name%></h3>
            <h6>Price: <%=dish.price%> UAH</h6>
            <h6>Weight: <%= dish.weight%>g</h6>
          
           <% if current_user == nil || !current_user.owner? %>
            <%= button_to 'Add to Cart',line_items_path(dish_id: dish),remote: true %>
            <% elsif current_user.owner? %>
            <%= link_to 'Edit', edit_restaurant_dish_path(@restaurant, dish) %>
            <% end %>
          </div>
        </div>
      </article>
      <% end %>
      
    <% end %>

  </div>
