<div class="container_login">
  <h1 class="btn btn-primary btn-block btn-lg w-100 mt-2">New restaurant</h1>
  <%= form_with model: @restaurant do |f| %>
    <div>
      <%= f.text_field :name,class:"form-control " %>
      <%= f.label :name , class:"form-label"%>
    </div>
    <div>
      <%= f.text_area :description,class:"form-control " %>
      <%= f.label :description, class:"form-label"%>
    </div>
    <div>
      <%= f.text_field :address, class:"form-control " %>
      <%= f.label :address, class:"form-label"%>
    </div>
    <div>
      <%= f.collection_select :tag_ids, @tags, :id,:title,{},multiple:  true , class: 'form-control col-sm-8' , style: 'width:100%'%>
      <%= f.label :tags, class:"form-label"%>
    </div>
    <div>
      <%= f.file_field :image, class:"form-control " %>
    </div>
    <div>
      <%= image_tag(@restaurant.image_url, class:'image_size form-control ') if @restaurant.image?%>
    </div>
    <p>
      <label>
        <%= f.check_box :remove_image %>
        Remove image
      </label>
    </p>
    <div>
      <%= f.submit :Save,class:'btn btn-info btn-block btn-lg w-100 mt-2'%>
    </div>
  <% end %>
</div>
